{% extends 'security/layoutmain.html' %}
{% load static %}
{% block body %}
    
    <div class="row h-100">

         <!--Nav map-->
        <div class="text-start mt-2">
            <p>Wages</p>
        </div>

        <!--Header-->
        <div class="p-4 my-3">
            <h1>Choose a date</h1>
            <i class="fa fa-calendar fa-2x mt-3 mb-2 text-opacity-75" aria-hidden="true"></i>
            <h5>Select month, year and provider to update results</h5>
            <h5 class="text-primary mb-4">check the results in the generated table</h5>
        </div>

        <div class="d-sm-flex bg-dark text-white text-start justify-content-center p-5">
            <form action="{% url 'wagesfilter' %}" method="post" style="width: 18rem;">
                {% csrf_token %}
                <label for="year">Select the year</label>
                <select class="form-select mb-3" name="year">
                    {% for year in year_choice %}
                        <option value="{{ year }}">{{ year }}</option>
                    {% endfor %}
                </select>
        
                <label for="month">Select the month</label>
                <select class="form-select mb-3" name="month">
                    {% for number,month in months.items %}
                        <option value="{{ number }}">{{ month }}</option>
                    {% endfor %}
                </select>
        
                <label for="wages_provider">Select the provider</label>
                <select class="form-select mb-1" name="wages_provider">
                    {% for provider in providers %}
                        <option value="{{ provider.id }}">{{ provider.name }}</option>
                    {% endfor %}
                </select>

                <button type="submit" class="btn btn-primary mt-4">Search</button>
            </form>
        </div>
      
        <div class="d-flex flex-wrap justify-content-evenly mt-3">
                <h3 >Total wages: {{total_wages}} €</h3>
        </div>

        <table class="table">
            <tbody>
            <tr>
                <td scope="col" class="text-start">Wages on <strong>{{month}} / {{year}}</strong></td>
            </tr>
            </tbody>
        </table>
    
        <div class="d-flex flex-wrap justify-content-center">
            <table class="table-responsive" style="width: 50rem;">
                <thead>
                <tr>
                    <th scope="col" class="text-start">Employee</th>
                    <th scope="col">Shifts</th>
                    <th class="text-end" scope="col">Total</th>
                </tr>
                </thead>
                <tbody>
                {% for key,item in wages.items %}
                    <tr>
                        <td class="text-start">{{key}}</td>
                        <td>{{item.0}}</td>
                        <td class="text-end">{{item.1}} €</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    

{% endblock %}
