{% extends 'security/layoutmain.html' %}
{% load static %}
{% block body %}
    
    <div class="row h-100">

         <!--Nav map-->
         <div class="text-start mt-2">
            <p>Wages</p>
        </div>

        <!--Header-->
        <div class="masthead1 p-4 my-3">
            <div class="d-flex flex-column header">
                <h1 class="display-4 fw-bold text-body-emphasis">Choose a date</h1>
                <i class="fa fa-calendar fa-2x mt-3 mb-2 text-opacity-75" aria-hidden="true"></i>
                <h5>Select month, year and employee to update results</h5>
                <h5 class="text-primary mb-4">check the results in the generated table</h5>
            </div>
        </div>

        <!--Info section-->
        <div class="info d-sm-flex bg-black text-white text-start justify-content-center py-5">
            <form action="{% url 'wagesemployee' %}" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-sm-6">
                        <label for="year">Year</label>
                        <select class="form-select mb-3" name="year">
                            {% for year in year_choice %}
                                <option value="{{ year }}">{{ year }}</option>
                            {% endfor %}
                        </select>   
                    </div>
                    <div class="col-sm-6">
                        <label for="month">Month</label>
                        <select class="form-select mb-3" name="month">
                            {% for number,month in months.items %}
                                <option value="{{ number }}">{{ month }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <label for="wages_employee">Employee</label>
                <select class="form-select mb-1" name="wages_employee">
                    {% for employee in employees %}
                        <option value="{{ employee.id }}">{{ employee.first_name }} {{employee.last_name}}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="btn btn-primary mt-3">Search</button>       
            </form>
        </div>
        {% if show %}
        
            <div class="d-flex flex-wrap justify-content-center my-5">
                <div>
                    <h3 >{{employee}}</h3>
                    <small>Amount of shifts: {{total_shifts}}</small>
                    <h2>Total wages: <strong>{{total_wages}} €</strong></h2>
                </div>
            </div>                    
                           

            <table class="table">
                <tbody>
                <tr>
                    <td scope="col" class="text-start">Shifts on <strong>{{month}} / {{year}}</strong></td>
                </tr>
                </tbody>
            </table>
            
            <div class="row">
                <div class="col-sm-8 offset-sm-2 table-responsive my-4 py-4">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col" class="text-start">Date</th>
                            <th scope="col" class="text-start">Venue</th>
                            <th scope="col" class="text-end">Salary</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for shift in worked_shifts %}
                            <tr>
                                <td class="text-start">{{shift.date}}</td>
                                <td class="text-start">{{shift.venue}}</td>
                                <td class="text-end"><small>{{shift.service_provided.servicefee.salary}} €</small></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>    
            
        {% endif %} 
    </div>
{% endblock %}
