{% extends 'security/layoutmain.html' %}
{% load static %}
{% block body %}
    
    <div class="row h-100">

        <!--Nav map-->
         <div class="text-start mt-2">
            <p>Wages</p>
        </div>

        <!--Header-->
        <div class="p-4 my-3">
            <h1>Choose a date</h1>
            <i class="fa fa-calendar fa-2x mt-3 mb-2 text-opacity-75" aria-hidden="true"></i>
            <h5>Select month, year and employee </h5>
            <h5 class="text-primary mb-4">a .pdf will be generated</h5>
        </div>

        <div class="d-sm-flex bg-dark text-white text-start justify-content-center p-5">
            <form action="{% url 'wagesemployeepdf' %}" method="post" style="width: 18rem;">
                {% csrf_token %}
                <label for="year">Select the year</label>
                <select class="form-select mb-3" name="year">
                    {% for year in year_choice %}
                        <option value="{{ year }}">{{ year }}</option>
                    {% endfor %}
                </select>
            
                <label for="month">Select the month</label>
                <select class="form-select mb-3" name="month">
                    {% for number,month in months.items %}
                        <option value="{{ number }}">{{ month }}</option>
                    {% endfor %}
                </select>
            
                <label for="wages_employee">Select the employee</label>
                <select class="form-select mb-1" name="wages_employee">
                    {% for employee in employees %}
                        <option value="{{ employee.id }}">{{ employee.first_name }} {{employee.last_name}}</option>
                    {% endfor %}
                </select>
            
                <button type="submit" class="btn btn-primary mt-4">Search</button>
            </form>
        </div>
    </div>
{% endblock %}
