{% extends 'security/layoutmain.html' %}
{% load static %}
{% block body %}
    
    <div class="row h-100">

        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Wages-provider-pdf</li>
            </ol>
        </nav>

        <!--Header-->
        <div class="masthead1">
            <div class="d-flex flex-column header">
                <h1 class="display-4 fw-bold text-body-emphasis">Wages report</h1>
                <h1 class="display-4"><i class="bi bi-cash-coin"></i></h1>
                <h5>Select month, year and provider to create a PDF</h5>
            </div>
        </div>

        <!--Info section-->
        <div class="d-sm-flex text-start justify-content-evenly">
            <div>
                <div class="d-flex justify-content-center pb-5 ">
                    <form action="{% url 'wagespdf' %}" method="post">
                        {% csrf_token %}
                        <div class="d-flex justify-content-between">
                            <div class="flex-grow-1 me-2">
                                <label for="month">Month</label>
                                <select class="form-select mb-3" name="month">
                                    {% for number,month in months.items %}
                                        <option value="{{ number }}">{{ month }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        
                            <div class="">
                                <label for="year">Year</label>
                                <select class="form-select mb-3" name="year">
                                    {% for year in year_choice %}
                                        <option value="{{ year }}">{{ year }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <label for="wages_provider">Provider</label>
                        <select class="form-select mb-1" name="wages_provider">
                            {% for provider in providers %}
                                <option value="{{ provider.id }}">{{ provider.name }}</option>
                            {% endfor %}
                        </select>

                        <button type="submit" class="btn btn-primary mt-3 w-100">PDF</button>     
                    </form>
                </div>
            </div>
        </div>

    </div>
    

{% endblock %}
