{% extends 'security/layoutmain.html' %}
{% load static %}
{% block body %}
    
    <div class="row h-100">
        <!--Nav map-->
       
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
            </ol>
        </nav>
        
        <!--Info section-->
        <div class="d-flex flex-column">
            <h1 class="display-4 fw-bold text-body-emphasis">Dashboard</h1>
            <i class="fa fa-calendar fa-2x mt-3 mb-2 text-opacity-75" aria-hidden="true"></i>

            
        </div>
        <br>
        <h4 class="mt-5">{{venue.commercial_name}} - {{provider.name}}</h4>
        
        <div class="d-flex justify-content-center mb-5">
            <div class="grid-calendar">
                <div class="d-flex align-items-end justify-content-between mt-5">
                    <h4>{{monthtext}}</h4> 
                    <h5><small>{{year}}</small></h5>
                </div>
                <div class="row calendar-week-header">
                    <div class="col-xs-1 grid-cell"><div><div><span>S</span></div></div></div>
                    <div class="col-xs-1 grid-cell"><div><div><span>M</span></div></div></div>
                    <div class="col-xs-1 grid-cell"><div><div><span>T</span></div></div></div>
                    <div class="col-xs-1 grid-cell"><div><div><span>W</span></div></div></div>
                    <div class="col-xs-1 grid-cell"><div><div><span>T</span></div></div></div>
                    <div class="col-xs-1 grid-cell"><div><div><span>F</span></div></div></div>
                    <div class="col-xs-1 grid-cell"><div><div><span>S</span></div></div></div>
                </div>

                {% for week in cal %}
                    <div class="row calendar-week">
                        {% for day in week %}
                            {% if day.month == month %}
                                
                                <div class="col-xs-1 grid-cell"><div><div><span><button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#shift{{day.day}}">{{day.day}}</button></span></div></div></div>
                                {% for shift in shifts %}
                                    {% if shift.date.day == day.day %}
                                        <!-- Modal -->
                                        <div class="modal fade" id="shift{{day.day}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    
                                                    <div class="modal-body">
                                                        <div class="card border-light m-3">
                                                            <div class="card-header"></div>
                                                            <div class="card-body text-start">
                                                                <h4 class="card-title">{{shift.date}}</h4>
                                                                <h6 class="card-subtitle mb-2 text-muted">{{shift.service_provided.name}}</h6>
                                                                <h6 class="card-subtitle mb-2 text-muted">{{shift.service_provided.servicefee}}</h6>
                                                                <hr>
                                                                <br>
                                                                {% for employee in shift.employees.values %}
                                                                    <ul class="list-group">
                                                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                                                            <strong>{{employee.first_name}} {{employee.last_name}}</strong>
                                                                            {% if not shift.invoiced %}
                                                                                <a href="{% url 'deleteemployeeshift' shift.id employee.id %}"><span class="badge bg-danger rounded-pill">X</span></a>
                                                                            {% endif %}
                                                                        </li>                                                
                                                                    </ul>
                                                                    <br>
                                                                    <hr>
                                                                {% endfor %}
                                                                {% if shift.invoiced %}
                                                                    <h3>INVOICED</h3>
                                                                {% else %}

                                                                    {% if shift.service_provided %}
                                                                        <form action="{% url 'addemployee' shift.id %}" method="post" onsubmit="this.submit_button.disabled = true;">
                                                                            {% csrf_token %}
                                                                            <div class="d-flex">
                                                                                <select id="select{{shift.pk}}" class="form-select reqrd" name="employee">
                                                                                    {% for employee in employees.values %}
                                                                                        {% if not employee in shift.employees.values and employee.provider_id == shift.shift_provider.id %}
                                                                                            <option value="{{employee.id}}">{{employee.first_name}} {{employee.last_name}}</option>
                                                                                        {% endif%}
                                                                                    {% endfor %}
                                                                                </select>
                                                                                <button id="{{shift.pk}}" type="submit" class="btn btn-primary">Add</button>
                                                                                
                                            
                                                                            </div>
                                                                        </form>
                                                                    {% else %}
                                                                        <form action="{% url 'setservice' shift.id %}" method="post" onsubmit="this.submit_button.disabled = true;">
                                                                            {% csrf_token %}
                                                                            <div class="d-flex">
                                                                                <select class="form-select mb-3" name="service">
                                                                                    {% for service in provider.services.values %}
                                                                                        <option value="{{service.id}}">{{service.name}}</option>
                                                                                    {% endfor %}
                                                                                </select>
                                                                                <button type="submit" class="btn btn-primary mb-4">Set</button>
                                                                            </div>
                                                                        </form>
                                                                    {% endif %}

                                                                {% endif%}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                    
                                {% endfor %}
                                

                            {% else %}
                                <div class="col-xs-1 grid-cell"><div><div><span>-</span></div></div></div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}

            </div>
        </div>
             
    </div>
    {% for shift in shifts %}
    <script>
        (function ($) {
            $(document).ready(function() {
                                                                                    
                if( $('#select{{shift.pk}}').has('option').length == 0 ) { 
                
                    $('#{{shift.pk}}').prop('disabled', true);
                } else {
                    $('#{{shift.pk}}').removeAttr('disabled');
                }
            
            });
        })(jQuery);
    </script>
    {% endfor %}
    

{% endblock %}
