{% extends 'security/layoutmain.html' %}
{% load static %}
{% block body %}
    <div class="row h-100">

        <div class="row text-start mt-2">
            <p><a href="{% url 'index' %}">Inicio</a> > filter</p>
        </div>

        <div class="row p-3 ">
            {% if date_selected == True %}
                <!-- CREATE SHIFT SECTION -->
                <h2>Add a shift on {{date}}</h2>
                <div class="col bg-light text-start border">
                    <form action="{% url 'addshift' %}" method="post">
                        {% csrf_token %}
                        <div class="row form-group text-start p-3">
                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="date" hidden="True" value="{{date}}">
                                <label for="venue">Select the venue</label>
                                <select class="form-select mb-3" name="venue">
                                    {% for venue in venues %}
                                        <option value="{{ venue.id }}">{{ venue }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-sm-5">
                                <label for="shift_provider">Select the provider</label>
                                <select class="form-select mb-1" name="shift_provider">
                                    {% for provider in providers %}
                                        <option value="{{ provider.id }}">{{ provider.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-sm-2">
                                <div class="col-sm-12 text-center">
                                    <button type="submit" class="btn btn-primary mt-4">Create</button>
                                </div>
                            </div>
                            
                        </div>
                    </form>
                </div>
                <div class="row">
                    <caption>List of shifts</caption>
                </div>
                <div class="row gx-1">
                    {% for shift in shifts%}
                        <div class="col-6 p-2">
                            <div class="col m-1 bg-light border">
                                <div class="col text-center">
                                    <img src="/static/img/{{shift.venue.commercial_name}}.png" class="img-fluid rounded-start" width="70">
                                </div>
                                <div class="col text-center">
                                    <div class="card-body">
                                        <h5 class="card-title">{{shift.date}}</h5>
                                        <h6 class="card-text">{{shift.shift_provider.name}}</h6>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card-body">
                                        <p class="card-text text-center m-0 p-0"><small class="text-body-secondary">Number of employees</small></p>
                                        <h4 class="card-title text-center">{{shift.employees.count}}</h4>
                                    </div>
                                </div>
                                <div class="col text-center mb-2">
                                    {% if shift.invoiced %}
                                        <h3>INVOICED</h3>
                                    {% else %}
                                        <a href="{% url 'setservice' shift.id %}" class="btn btn-primary">Edit</a>
                                    {% endif%}
                                    
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {% endif %}  
        </div>

    </div>


{% endblock %}
