{% extends 'security/layoutmain.html' %}
{% load static %}
{% block body %}
    
    <div class="row h-100">
        <!--Nav map-->
        <div class="text-start mt-2">
            <p>Inicio</p>
        </div>

        <!--Header-->
        <div class="masthead p-4 my-3">
            <div class="d-flex flex-column header">
                <h1 class="display-4 fw-bold text-body-emphasis">Sie7e shift manager</h1>
                <i class="fa fa-calendar fa-2x mt-3 mb-2 text-opacity-75" aria-hidden="true"></i>
                <h5>Create a shift, a whole month </h5>
                <h5 class="text-primary mb-4">check the rotas or shifts in a month </h5>
            </div>
        </div>
        
        <!--Info section-->            
            <div class="flex-fill">
                <h2 class="display-5 fw-bold text-center">Go to...</h2>
                <div class="d-flex justify-content-center pb-5">
                    <form action="{% url 'indexcal' '2024-01-01' %}" method="post" >
                        {% csrf_token %}
                        <div class="d-flex justify-content-between">
                            <div class="flex-grow-1 me-2">
                                <label for="month">Month</label>
                                <select class="form-select mb-3" name="month">
                                    {% for number,month in months.items %}
                                        <option value="{{ number }}">{{ month }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        
                            <div>
                                <label for="year">Year</label>
                                <select class="form-select mb-3" name="year">
                                    {% for year in year_choice %}
                                        <option value="{{ year }}">{{ year }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Show results</button>
                    </form>
                </div>
            </div>
        </div>
        
     
    </div>
    

{% endblock %}
