{% extends 'security/layoutmain.html' %}
{% load static %}
{% block body %}
    
    <div class="row h-100">
        <!--Nav map-->
        <div class="text-start mt-2">
            <p>Inicio</p>
        </div>
        
        <!--Info section-->
        <div class="info d-sm-flex bg-black text-white text-start justify-content-evenly">
            <div>
                <!-- SEARCH FORM -->
                <div class="text-white text-start justify-content-center mt-3">
                    <form action="{% url 'indexcal' date %}" method="post">
                        {% csrf_token %}
                        <div class="d-flex justify-content-between">
                            <div class="flex-grow-1 me-2">
                                
                                <select class="form-select" name="month">
                                    {% for number,month in months.items %}
                                        <option value="{{ number }}">{{ month }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        
                            <div class="me-2">
                                
                                <select class="form-select" name="year">
                                    {% for year in year_choice %}
                                        <option value="{{ year }}">{{ year }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div>
                                <button type="submit" class="btn btn-primary">Go</button>
                            </div>
                        </div>
                        
                    </form>
                </div>
                <!-- CALENDAR -->
                <div class="mt-3">
                    <!-- CREATE CALENDAR -->
                    <div class="mx-4 py-4 ">
                        <div class="d-flex align-items-end justify-content-between">
                                    <h4 class="text-light">{{monthtext}}</h4> 
                                    <h5 class="text-light"><small>{{year}}</small></h5>
                        </div>
                        <div class="d-flex text-end">
                            {% for day in days %}
                                <div class="p-1 flex-fill text-white"><h6 class="text-light">{{day}}</h6></div>
                            {% endfor %}
                        </div>
                        {% for week in cal %}
                            <div class="d-flex justify-content-between">
                                {% for day in week %}
                                    {% if day.month == month %}
                                        <div class="p-1 flex-fill text-end"><a href="{% url 'indexcal' day %}"><h6 class="text-light">{{day.day}}</h6></a></div>
                                    {% else %}
                                        <div class="p-1 flex-fill text-end">-</div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                </div>

            </div>
            <!-- CREATE FORM -->
            <div class="mt-3">
                <form action="{% url 'setfullmonth' %}" method="post" onsubmit="this.submit_button.disabled = true;">
                    {% csrf_token %}
                    <div class="d-flex justify-content-between">
                        <div class="flex-grow-1 me-2">
                            <label for="month">Month</label>
                            <select class="form-select mb-3" name="month">
                                {% for number,month in months.items %}
                                    <option value="{{ number }}">{{ month }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    
                        <div class="">
                            <label for="year">Year</label>
                            <select class="form-select mb-3" name="year">
                                {% for year in year_choice %}
                                    <option value="{{ year }}">{{ year }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
        
                    <label for="venue">Venue</label>
                    <select class="form-select mb-3" name="venue">
                        {% for venue in venues %}
                            <option value="{{ venue.id }}">{{ venue }}</option>
                        {% endfor %}
                    </select>
                    
                    <label for="shift_provider">Provider</label>
                    <select class="form-select mb-1" name="provider">
                        {% for provider in providers %}
                            <option value="{{ provider.id }}">{{ provider.name }}</option>
                        {% endfor %}
                    </select>
                    <button name="submit_button" type="submit" class="btn btn-primary my-4">Set</button>
                </form>
            </div>

            
        </div>
            
            
        <!--Result divider-->
        <table class="table">
            <tbody>
            <tr>
                <td scope="col" class="text-start"><h3 class="display-5">Weekly Shifts</h3></td>
            </tr>
            </tbody>
        </table>

        <!-- ACORDION -->
        
        <div class="accordion" id="accordionExample">
            {%for venue in venues %}
                {% for provider in providers %}
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="{{venue.pk}}{{provider.pk}}">
                            {% if forloop.counter == 1 %}
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#{{venue.commercial_name}}{{provider.pk}}" aria-expanded="true" aria-controls="{{venue.commercial_name}}{{provider.pk}}">
                            {% else %}
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{venue.commercial_name}}{{provider.pk}}" aria-expanded="false" aria-controls="{{venue.commercial_name}}{{provider.pk}}">
                            {% endif %}
                                    <h5>{{venue.commercial_name}} - {{provider.name}}</h5>
                                </button>
                        </h2>
                        {% if forloop.counter == 1 %}
                            <div id="{{venue.commercial_name}}{{provider.pk}}" class="accordion-collapse collapse show" aria-labelledby="{{venue.pk}}{{provider.pk}}" data-bs-parent="#accordionExample">
                        {% else %}
                            <div id="{{venue.commercial_name}}{{provider.pk}}" class="accordion-collapse collapse" aria-labelledby="{{venue.pk}}{{provider.pk}}" data-bs-parent="#accordionExample">
                        {% endif %}
                                <div class="accordion-body">

                                    <div class="card-wrapper d-flex flex-wrap justify-content-center">
                                        {% for shift in shifts %}
                                            {% if shift.venue == venue and shift.shift_provider == provider %}
                                                <div class="card border-light m-3" style="max-width: 20rem;">
                                                    <!--<img src={% static '' %}{{shift.venue.logo}} class="card-img-top" alt="...">-->
                                                    <div class="card-header"></div>
                                                    <div class="card-body text-start">
                                                        <h4 class="card-title">{{shift.date}}</h4>
                                                        <h6 class="card-subtitle mb-2 text-muted">{{shift.service_provided.name}}</h6>
                                                        <h6 class="card-subtitle mb-2 text-muted">{{shift.service_provided.servicefee}}</h6>
                                                        <hr>
                                                        <br>
                                                        {% for employee in shift.employees.values %}
                                                            <ul class="list-group">
                                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                                    <strong>{{employee.first_name}} {{employee.last_name}}</strong>
                                                                    <a href="{% url 'deleteemployeeshift' shift.id employee.id %}"><span class="badge bg-danger rounded-pill">X</span></a>
                                                                </li>                                                
                                                            </ul>
                                                            <br>
                                                            <hr>
                                                        {% endfor %}
                                                        {% if shift.invoiced %}
                                                            <h3>INVOICED</h3>
                                                        {% else %}

                                                            {% if shift.service_provided %}
                                                                <form action="{% url 'addemployee' shift.id %}" method="post">
                                                                    {% csrf_token %}
                                                                    <div class="d-flex">
                                                                        <select class="form-select" name="employee">
                                                                            {% for employee in employees.values %}
                                                                                {% if not employee in shift.employees.values and employee.provider_id == shift.shift_provider.id %}
                                                                                    <option value="{{employee.id}}">{{employee.first_name}} {{employee.last_name}}</option>
                                                                                {% endif%}
                                                                            {% endfor %}
                                                                        </select>
                                                                        <button type="submit" class="btn btn-primary">Add</button>
                                                                    </div>
                                                                </form>
                                                            {% else %}
                                                                <form action="{% url 'setservice' shift.id %}" method="post">
                                                                    {% csrf_token %}
                                                                    <div class="d-flex">
                                                                        <select class="form-select mb-3" name="service">
                                                                            {% for service in provider.services.values %}
                                                                                <option value="{{service.id}}">{{service.name}}</option>
                                                                            {% endfor %}
                                                                        </select>
                                                                        <button type="submit" class="btn btn-primary mb-4">Set</button>
                                                                    </div>
                                                                </form>
                                                            {% endif %}

                                                        {% endif%}
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>

                                </div>
                            </div>
                    </div>
                {% endfor %}    
            {% endfor %}    
        </div>   
     
    </div>
    

{% endblock %}
