{% extends 'security/layoutmain.html' %}
{% load static %}
{% block body %}
    <div class="row align-items-start">

        <div class="col-sm-6 p-3 border-end">
            <!-- SEARCH FORM -->
            <div class="row">
                <div class="col-md-5 bg-light border">
                    <form action="{% url 'index' %}" method="post">
                        {% csrf_token %}
                        <div class="row form-group pt-3 pb-3">
                            <div class="form-floating">
                                <select class="form-select mb-3" name="year">
                                    {% for year in year_choice %}
                                        <option value="{{ year }}">{{ year }}</option>
                                    {% endfor %}
                                </select>
                                <label for="venue">Select the year</label>
                            </div>
                            <div class="form-floating">
                                <select class="form-select mb-3" name="month">
                                    {% for number,month in months.items %}
                                        <option value="{{ number }}">{{ month }}</option>
                                    {% endfor %}
                                </select>
                                <label class="formlabel" for="venue">Select the provider</label>
                            </div>
                            <div class="col-sm-12 text-center">
                                <button type="submit" class="btn btn-primary mt-4">Go</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- CREATE CALENDAR -->
                <div class="col-md-7">
                    <div class="row text-center">
                            <div class="col"><h5>{{monthtext}} - {{year}}</h5></div>
                    </div>
                    <div class="d-flex text-center">
                        {% for day in days %}
                            <div class="p-1 flex-fill"><h6>{{day}}</h6></div>
                        {% endfor %}
                    </div>
                    {% for week in cal %}
                        <div class="d-flex text-center">
                            {% for day in week %}
                                {% if day.month == month %}
                                    <div class="p-1 flex-fill "><a href="{% url 'filtershift' day %}"><h6>{{day.day}}</h6></a></div>
                                {% else %}
                                    <div class="p-1 flex-fill">-</div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% if date_selected == True %}
                <!-- CREATE SHIFT SECTION -->
                <div class="row">
                    <div class="bg-light border my-3 px-2">
                        <h3 class="p-1 mt-2"> Add a shift on {{date}}</h3>
                        <form action="{% url 'addshift' %}" method="post">
                            {% csrf_token %}
                            <div class="row form-group pb-2">
                                <form class="form-floating">
                                    <input type="text" class="form-control" name="date" hidden="True" value="{{date}}">
                                </form>
                                <div class="form-floating">
                                    <select class="form-select mb-3" name="venue">
                                        {% for venue in venues %}
                                            <option value="{{ venue.id }}">{{ venue }}</option>
                                        {% endfor %}
                                    </select>
                                    <label for="venue">Select the venue</label>
                                </div>
                                <div class="form-floating">
                                    <select class="form-select mb-1" name="shift_provider">
                                        {% for provider in providers %}
                                            <option value="{{ provider.id }}">{{ provider.name }}</option>
                                        {% endfor %}
                                    </select>
                                    <label class="formlabel" for="venue">Select the provider</label>
                                </div>
                                
                                
                                <div class="col-sm-12">
                                    <button type="submit" class="btn btn-primary mt-1">Create</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- RESULT SECTION -->
                
                <caption>List of shifts</caption>
                <div class="row gx-1">
                    {% for shift in shifts%}
                        <div class="col-6 p-2">
                            <div class="col m-1 bg-light border">
                                <div class="col text-center">
                                    <img src="/static/img/{{shift.venue.commercial_name}}.png" class="img-fluid rounded-start" width="70">
                                </div>
                                <div class="col text-center">
                                    <div class="card-body">
                                        <h5 class="card-title">{{shift.date}}</h5>
                                        <h6 class="card-text">{{shift.shift_provider.name}}</h6>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card-body">
                                        <p class="card-text text-center m-0 p-0"><small class="text-body-secondary">Number of employees</small></p>
                                        <h4 class="card-title text-center">{{shift.employees.count}}</h4>
                                    </div>
                                </div>
                                <div class="col text-center mb-2">
                                    <a href="{% url 'setservice' shift.id %}" class="btn btn-primary">Edit</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {% endif %}
        </div>
            

        <div class="col-sm-6 p-4">

            <!-- UPDATE/ADD EMPLOYEES SHIFT SECTION -->
            {% if edit %}
                <h1 class="p-3"> {{editshift.venue}} - {{editshift.date}}</h1>
                <h5 class="px-3 pb-3">{{editshift.shift_provider.name}}</h5>
                {% if not service_selected %}
                    <form action="{% url 'setservice' editshift.id %}" method="post">
                        {% csrf_token %}
                        <div class="row form-group pt-4 pb-2 border-bottom">
                            <div class="col-sm-10">
                                <select class="form-select mb-3" name="service">
                                    {% for service in services %}
                                        <option value="{{service.id}}">{{service.name}} : {{service.servicefee}}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="col-sm-2">
                                <button type="submit" class="btn btn-primary">Add</button>
                            </div>
                        </div>
                    </form>
                {% else %}

                    <h6 class="px-3 pb-3">Service : {{editshift.service_provided.name}}</h6>
                    <h6 class="px-3 pb-3 border-bottom">{{editshift.service_provided.servicefee}}</h6>
                {% endif%}
                
                {% if service_selected %}
                    <div class="row">
                    {% for employee in working %}
                        <div class="col-md-3 my-3">
                            <div class="card text-center bg-light">
                                <div class="card-body">
                                    <h6 class="card-title">{{employee.first_name}} {{employee.last_name}}</h6>
                                    <a href="{% url 'deleteemployeeshift' editshift.id employee.id %}" class="btn btn-primary">Delete</a>
                                </div>
                            </div>
                        </div>                    
                    {% endfor %}
                    </div>
                    <form action="{% url 'addemployee' editshift.id %}" method="post">
                        {% csrf_token %}
                        <div class="row form-group pt-4 pb-2 border-top">
                            <div class="col-sm-10">
                                <select class="form-select mb-3" name="employee">
                                    {% for employee in not_working %}
                                        <option value="{{employee.id}}">{{employee.first_name}} {{employee.last_name}}</option>
                                    {% endfor %}
                                </select>

                            </div>

                            <div class="col-sm-2">
                                {% if not_working %}
                                    <button type="submit" class="btn btn-primary">Add</button>
                                {% else %}
                                    <button type="submit" class="btn btn-primary" disabled>Add</button>
                                {% endif %}
                            </div>
                        </div>
                    </form>
                {% endif%}

            {% endif %}
        </div>
    </div>


{% endblock %}
