{% extends 'security/layoutmain.html' %}
{% load static %}
{% block body %}
    
    <div class="row h-100">

        <div class="row text-start mt-2">
            <p>Inicio</p>
        </div>

        <div class="row p-3">
            <h1>Choose a date</h1>
            <i class="fa fa-calendar fa-2x mt-3 mb-2 text-opacity-75" aria-hidden="true"></i>
            <h5>Select month and year to update the calendar</h5>
            <h5 class="text-primary mb-4">...then select the day and get the results </h5>
            <div class="col bg-light border text-start rounded shadow-sm">
                <form action="{% url 'index' %}" method="post">
                    {% csrf_token %}
                    <div class="row form-group pt-3 pb-3">
                        <div class="col">
                            <label for="year">Select the year</label>
                            <select class="form-select mb-3" name="year">
                                {% for year in year_choice %}
                                    <option value="{{ year }}">{{ year }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col">
                            <label for="month">Select the provider</label>
                            <select class="form-select mb-3" name="month">
                                {% for number,month in months.items %}
                                    <option value="{{ number }}">{{ month }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-sm-2">
                            <div class="col-sm-12 text-center">
                                <button type="submit" class="btn btn-primary mt-4">Go</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="d-flex d-inline-block justify-content-center p-3">
            <!-- CREATE CALENDAR -->
            <div class="border bg-light p-3 rounded shadow-sm">
                <div class="text-center">
                        <div class="col"><h5>{{monthtext}} - {{year}}</h5></div>
                </div>
                <div class="d-flex text-end">
                    {% for day in days %}
                        <div class="p-1 flex-fill"><h6>{{day}}</h6></div>
                    {% endfor %}
                </div>
                {% for week in cal %}
                    <div class="d-flex text-end">
                        {% for day in week %}
                            {% if day.month == month %}
                                <div class="p-1 flex-fill "><a class="text-decoration-none" href="{% url 'filtershift' day %}"><h6>{{day.day}}</h6></a></div>
                            {% else %}
                                <div class="p-1 flex-fill">-</div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>

        <table class="table">
            <tbody>
            <tr>
                <td scope="col" class="text-start">List of shifts on {{month}} / {{year}}</td>
            </tr>
            </tbody>
        </table>
        
        
        <div class="row gx-1">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col" class="text-start">Date</th>
                    <th scope="col" class="text-start">Venue</th>
                    <th scope="col" class="text-start">Status</th>
                    <th scope="col" class="text-start"></th>
                </tr>
                </thead>
                <tbody>
                {% for shift in shifts %}
                    <tr>
                        <td class="text-start">{{shift.date}}</td>
                        <td class="text-start">{{shift.venue}}</td>
                        {% if shift.invoiced %}
                            <td class="text-start text-danger">Invoiced</td>
                        {% else %}
                            <td class="text-start text-success">Pending</td>
                        {% endif %}
                        <td><a href="{% url 'setservice' shift.id %}" class="btn btn-primary">Details</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        
    </div>
    

{% endblock %}
