{% extends 'security/layoutmain.html' %}
{% load static %}
{% block body %}
    
    <div class="row h-100 d-inline-block">
        <div class="row text-start mt-2">
            <p><a href="{% url 'invoicefilter' %}">Invoices</a> > filter</p>
        </div>
        <div class="col p-3">
            <!-- SEARCH FORM -->
            <div class="row">
                <h2>Invoice details</h2>
                <div class="col-6 bg-light border-start border-top border-bottom text-start">
                    <h6 class="mt-2">{{invoice.invoice_venue.commercial_name}}</h6>
                    <p class="lh-1">{{invoice.invoice_venue.business_name}}</p>
                    <p class="lh-1">{{invoice.invoice_venue.address}}</p>
                    <p class="lh-1">{{invoice.invoice_venue.cif}}</p>
                </div>
                <div class="col-6 bg-light border text-end">
                    <h6 class="mt-2">{{invoice.invoice_provider.name}}</h6>
                    <p class="lh-1">{{invoice.invoice_provider.address}}</p>
                    <p class="lh-1">{{invoice.invoice_venue.cif}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col text-end">
                    Amount of shifts: {{total_shifts}}
                    <h3 >{{invoice.amount}} €</h3>
                </div>
            </div>
            <caption>List of shifts</caption>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Nº Employees</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for shift in invoice.shifts.all %}
                        <tr>
                            <td>{{shift.date}}</td>
                            <td>{{shift.employees.count}}</td>
                            <td><a href="{% url 'setservice' shift.id %}" class="btn btn-primary">Details</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
        </div>
    </div>
    

{% endblock %}
