{% extends 'security/layoutmain.html' %}
{% load static %}
{% block body %}
    
    <div class="row h-100">

        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
              <li class="breadcrumb-item"><a href="{% url 'rotavenue' %}">Rota</a></li>
              <li class="breadcrumb-item active" aria-current="page">Rota display</li>
            </ol>
        </nav>

       
        <div>
            <div class="d-flex flex-column mt-5">
                <h1 class="display-4 fw-bold text-body-emphasis">{{venue}}</h1>
                <i class="fa fa-calendar fa-2x mt-3 mb-2 text-opacity-75" aria-hidden="true"></i>
                <h5>{{monthtext}}, {{year}} {{venue}}</h5>
                <h3 class="display-6 fw-bold text-body-emphasis"> Total shifts: {{total_shifts}}</h3>
            </div>
        </div>

        <!-- CREATE CALENDAR -->
        <div class="d-flex justify-content-center mb-5">
            <div class="grid-calendar">
                <div class="d-flex align-items-end justify-content-between mt-5">
                    <h4>{{monthtext}}</h4> 
                    <h5><small>{{year}}</small></h5>
                </div>
                <div class="row calendar-week-header">
                    <div class="col-xs-1 grid-cell"><div><div><span>M</span></div></div></div>
                    <div class="col-xs-1 grid-cell"><div><div><span>T</span></div></div></div>
                    <div class="col-xs-1 grid-cell"><div><div><span>W</span></div></div></div>
                    <div class="col-xs-1 grid-cell"><div><div><span>T</span></div></div></div>
                    <div class="col-xs-1 grid-cell"><div><div><span>F</span></div></div></div>
                    <div class="col-xs-1 grid-cell"><div><div><span>S</span></div></div></div>
                    <div class="col-xs-1 grid-cell"><div><div><span>S</span></div></div></div>
                </div>

                {% for week in cal %}
                    <div class="row calendar-week">
                        {% for day in week %}
                            {% if day in filtered_days %}
                                <div class="col-xs-1 grid-cell">
                                    <div class="d-flex justify-content-start">
                                        {% for shift in shifts %}
                                            {% if shift.date == day and shift.employees.values %}
                                                
                                                {% if shift.invoiced and not request.user.is_superuser %}
                                                    {% if providers %}
                                                        {% if shift.shift_provider in providers %}
                                                            <a data-bs-toggle="modal" data-bs-target="#shift{{day.day}}">
                                                                <span class="mx-1 my-0 badge bg-danger d-inline-block"  style="width: 5px;"></span>
                                                            </a>
                                                        {% endif %}
                                                    {% else %}
                                                        <a data-bs-toggle="modal" data-bs-target="#shift{{day.day}}">
                                                            <span class="mx-1 my-0 badge bg-danger d-inline-block"  style="width: 5px;"></span>
                                                        </a>
                                                    {% endif %}
                                                {% elif request.user.is_superuser %}
                                                    <a data-bs-toggle="modal" data-bs-target="#shift{{day.day}}">
                                                        <span class="mx-1 my-0 badge bg-danger d-inline-block"  style="width: 5px;"></span>
                                                    </a>
                                                {% endif %}
                                               

                                                <!-- Modal -->
                                                <div class="modal fade" id="shift{{day.day}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered">
                                                        <div class="modal-content">
                                                            
                                                            <div class="modal-body">
                                                                <div class="card border-light m-3">
                                                                    <div class="card-header"></div>
                                                                    <div class="card-body text-start">
                                                                        <h4 class="card-title">{{shift.date}}</h4>
                                                                        <h6 class="card-subtitle mb-2 text-muted">{{shift.service_provided.name}}</h6>
                                                                        <h6 class="card-subtitle mb-2 text-muted">{{shift.service_provided.servicefee}}</h6>
                                                                        <hr>
                                                                        <br>
                                                                        {% for employee in shift.employees.values %}
                                                                            <ul class="list-group">
                                                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                                                    <strong>{{employee.first_name}} {{employee.last_name}}</strong>
                                                                                </li>                                                
                                                                            </ul>
                                                                            <br>
                                                                            <hr>
                                                                        {% endfor %}

                                                                        {% if shift.invoiced %}
                                                                            <h3>INVOICED</h3>
                                                                        {% endif%}
                                                                        
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                
                                            {% else %}
                                                <div></div>
                                            {% endif%}
                                        {% endfor %}
                                    </div>
                                    <div>
                                        <span>{{day.day}}</span>
                                    </div>
                                </div>
                            
                            {% else %}
                                {% if day.month == month %}
                                    <div class="col-xs-1 grid-cell"><div><div><span>{{day.day}}</span></div></div></div>
                                {% else %}
                                    <div class="col-xs-1 grid-cell"><div><div><span>-</span></div></div></div>
                                {% endif %}
                            {% endif %}

                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>
{% endblock %}
