{% extends 'security/layoutmain.html' %}
{% load static %}
{% block body %}
    
    <div class="row h-100">

        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Rota</li>
            </ol>
        </nav>

        <!--Header-->
        <div class="masthead">
            <div class="d-flex flex-column header">
                <h1 class="display-4 fw-bold text-body-emphasis">Venue's rota</h1>
                <i class="fa fa-calendar fa-2x mt-3 mb-2 text-opacity-75" aria-hidden="true"></i>
                <h5>fill the form to get the info</h5>
            </div>
        </div>

        <!--Info section-->
        <div class="d-sm-flex text-start justify-content-evenly">
            <div>
                <div class="d-flex justify-content-center pb-5">
                    <form action="{% url 'rotavdisplay' %}" method="post">
                        {% csrf_token %}
                        <div class="d-flex justify-content-between">
                            <div class="flex-grow-1 me-2">
                                <label for="month">Month</label>
                                <select class="form-select mb-3" name="month">
                                    {% for number,month in months.items %}
                                        <option value="{{ number }}">{{ month }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        
                            <div class="">
                                <label for="year">Year</label>
                                <select class="form-select mb-3" name="year">
                                    {% for year in year_choice %}
                                        <option value="{{ year }}">{{ year }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        {% for group in request.user.groups.all %}
                            {% if group.name == "providers" %}
                                <label for="venue">Venue</label>
                                <select class="form-select mb-3" name="venue">
                                    {% for venue in venues %}
                                        <option value="{{ venue.id }}">{{ venue }}</option>
                                    {% endfor %}
                                </select>
                            {% else %}
                                <select class="form-select mb-3" name="venue" hidden>
                                    {% for venue in venues %}
                                        <option value="{{ venue.id }}">{{ venue }}</option>
                                    {% endfor %}
                                </select>
                            {% endif %}
                        {% endfor %}
                        <button type="submit" class="btn btn-primary w-100 my-3">Show</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
