{% extends 'security/layoutmain.html' %}
{% load static %}
{% block body %}
    
    <div class="row h-100">

        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
              <li class="breadcrumb-item"><a href="{% url 'rota' %}">Rota</a></li>
              <li class="breadcrumb-item active" aria-current="page">Rota display</li>
            </ol>
        </nav>
        
        <div>
            <div class="d-flex flex-column mt-5">
                <h1 class="display-4 fw-bold text-body-emphasis">{{ employee }}</h1>
                <i class="fa fa-calendar fa-2x mt-3 mb-2 text-opacity-75" aria-hidden="true"></i>
                <h5>{{monthtext}}, {{year}}</h5>
                <h3 class="display-6 fw-bold text-body-emphasis"> Total shifts: {{total_shifts}}</h3>
            </div>
        </div>


        <div class="d-flex justify-content-center mb-5">
            <div class="grid-calendar">
                <div class="d-flex align-items-end justify-content-between mt-5">
                    <h4>{{monthtext}}</h4> 
                    <h5><small>{{year}}</small></h5>
                </div>
                <div class="row calendar-week-header">
                    <div class="col-xs-1 grid-cell"><div><div><span>M</span></div></div></div>
                    <div class="col-xs-1 grid-cell"><div><div><span>T</span></div></div></div>
                    <div class="col-xs-1 grid-cell"><div><div><span>W</span></div></div></div>
                    <div class="col-xs-1 grid-cell"><div><div><span>T</span></div></div></div>
                    <div class="col-xs-1 grid-cell"><div><div><span>F</span></div></div></div>
                    <div class="col-xs-1 grid-cell"><div><div><span>S</span></div></div></div>
                    <div class="col-xs-1 grid-cell"><div><div><span>S</span></div></div></div>
                </div>

                {% for week in cal %}
                    <div class="row calendar-week">
                        {% for day in week %}
                            {% if day in filtered_days %}
                                <div class="col-xs-1 grid-cell bg-primary text-white">
                                    <div class="d-flex justify-content-start">
                                        {% for shift in filtered_shifts %}
                                            {% for date,venue in shift.items %}
                                                {% if date == day %}
                                                        
                                                            <a data-bs-toggle="tooltip" data-bs-title="{{venue}}">
                                                                <span class="mx-1 my-0 badge bg-danger d-inline-block"  style="width: 5px;"></span>
                                                            </a>
                                                        
                                                {% endif %}
                                            {% endfor %}       
                                        {% endfor %}
                                    </div>
                                    <div>
                                        <span>{{day.day}}</span>
                                    </div>
                                </div>
    
                            {% else %}
                                {% if day.month == month %}
                                    <div class="col-xs-1 grid-cell"><div><div><span>{{day.day}}</span></div></div></div>
                                {% else %}
                                    <div class="col-xs-1 grid-cell"><div><div><span>-</span></div></div></div>
                                {% endif %}
                            {% endif %}

                        {% endfor %}
                    </div>
                {% endfor %}

            </div>
        </div>
    
    </div>
{% endblock %}
