{% extends 'security/layoutmain.html' %}
{% load static %}
{% block body %}
    <div class="row ">
        <div class="row text-start mt-2">
            <p><a href="{% url 'index' %}">inicio</a> > <a href="{% url 'filtershift' editshift.date %}">filter</a> > set</p>
        </div>
        <div class="col p-4 bg-light border">
            <div class="row">
                <!-- UPDATE/ADD EMPLOYEES SHIFT SECTION -->
                {% if edit %}
                    <h1 class="p-3"> {{editshift.venue}} - {{editshift.date}}</h1>
                    <h5 class="px-3 pb-3">{{editshift.shift_provider.name}}</h5>
                    {% if not service_selected %}
                        <form action="{% url 'setservice' editshift.id %}" method="post">
                            {% csrf_token %}
                            <div class="row form-group pt-4 pb-2 border-bottom">
                                <div class="col-sm-10">
                                    <select class="form-select mb-3" name="service">
                                        {% for service in services %}
                                            <option value="{{service.id}}">{{service.name}} : {{service.servicefee}}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="col-sm-2">
                                    <button type="submit" class="btn btn-primary">Add</button>
                                </div>
                            </div>
                        </form>
                    {% else %}

                        <h6 class="px-3 pb-3">Service : {{editshift.service_provided.name}}</h6>
                        <h6 class="px-3 pb-3 border-bottom">{{editshift.service_provided.servicefee}}</h6>
                    {% endif%}
                    
                    {% if service_selected %}
                        <div class="row">
                        {% for employee in working %}
                            <div class="col-md-3 my-3">
                                <div class="card text-center bg-white">
                                    <div class="card-body">
                                        <h6 class="card-title">{{employee.first_name}} {{employee.last_name}}</h6>
                                        <a href="{% url 'deleteemployeeshift' editshift.id employee.id %}" class="btn btn-primary">Delete</a>
                                    </div>
                                </div>
                            </div>                    
                        {% endfor %}
                        </div>
                        <form action="{% url 'addemployee' editshift.id %}" method="post">
                            {% csrf_token %}
                            <div class="row form-group pt-4 pb-2 border-top">
                                <div class="col-sm-10">
                                    <select class="form-select mb-3" name="employee">
                                        {% for employee in not_working %}
                                            <option value="{{employee.id}}">{{employee.first_name}} {{employee.last_name}}</option>
                                        {% endfor %}
                                    </select>

                                </div>

                                <div class="col-sm-2">
                                    {% if not_working %}
                                        <button type="submit" class="btn btn-primary">Add</button>
                                    {% else %}
                                        <button type="submit" class="btn btn-primary" disabled>Add</button>
                                    {% endif %}
                                </div>
                            </div>
                        </form>
                    {% endif%}
                {% endif %}
            </div>
        </div>
    </div>


{% endblock %}
