{% extends 'security/layoutmain.html' %}
{% load static %}
{% block body %}
    <div class="row ">
        <div class="row text-start mt-2">
            <p><a href="{% url 'index' %}">inicio</a> > <a href="{% url 'filtershift' editshift.date %}">filter</a> > set</p>
        </div>
        <div class="col p-4 border">
            <div class="row">
                <!-- UPDATE/ADD EMPLOYEES SHIFT SECTION -->
                {% if edit %}
                    <h1 class="p-3"> {{editshift.venue}} - {{editshift.date}}</h1>
                    <h5 class="px-3 pb-3">{{editshift.shift_provider.name}}</h5>
                    {% if not service_selected %}
                        <form class="bg-light text-start" action="{% url 'setservice' editshift.id %}" method="post">
                            {% csrf_token %}
                            <div class="row form-group pt-4 pb-2">
                                <div class="col-10">
                                    <label for="service">Choose the service to provide</label>
                                    <select class="form-select mb-3" name="service">
                                        {% for service in services %}
                                            <option value="{{service.id}}">{{service.name}} : {{service.servicefee}}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="col-2">
                                    <button type="submit" class="btn btn-primary mt-4">Set</button>
                                </div>
                            </div>
                        </form>
                    {% else %}

                        <h6 class="px-3 pb-3">Service : {{editshift.service_provided.name}}</h6>
                        <h6 class="px-3 pb-3">{{editshift.service_provided.servicefee}}</h6>
                    {% endif%}
                    
                    {% if service_selected %}
                        <form class="bg-light border" action="{% url 'addemployee' editshift.id %}" method="post">
                            {% csrf_token %}
                            <div class="row form-group pt-4 pb-2 text-start">
                                <div class="col-10">
                                    <label for="employee">Choose the employee to add to the shift</label>
                                    <select class="form-select mb-3" name="employee">
                                        {% for employee in not_working %}
                                            <option value="{{employee.id}}">{{employee.first_name}} {{employee.last_name}}</option>
                                        {% endfor %}
                                    </select>

                                </div>
                                <div class="col-2 px-2">
                                    {% if not_working %}
                                        <button type="submit" class="btn btn-primary mt-4">Add</button>
                                    {% else %}
                                        <button type="submit" class="btn btn-primary mt-4" disabled>Add</button>
                                    {% endif %}
                                </div>
                            </div>
                        </form>
                        <div class="row">
                        {% for employee in working %}
                            <div class="col-md-3 my-3">
                                <div class="card text-center bg-white shadow">
                                    <div class="card-body">
                                        <h6 class="card-title">{{employee.first_name}} {{employee.last_name}}</h6>
                                        <a href="{% url 'deleteemployeeshift' editshift.id employee.id %}" class="btn btn-primary">Delete</a>
                                    </div>
                                </div>
                            </div>                    
                        {% endfor %}
                        </div>
                        
                    {% endif%}
                {% endif %}
            </div>
        </div>
    </div>


{% endblock %}
